name: Publish

on:
  push:
    branches: ['main']

permissions:
  id-token: write # Required for OIDC
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Install Mise
        uses: caido/action-mise-action@v3.2.0
        with:
          working_directory: .
          version: ${{ vars.CI__MISE_VERSION }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Publish @caido/tailwindcss
        uses: ./.github/actions/publish-one
        with:
          package: tailwindcss
          internal: true
          secret-github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish @caido/primevue
        uses: ./.github/actions/publish-one
        with:
          package: primevue
          internal: true
          secret-github-token: ${{ secrets.GITHUB_TOKEN }}
